* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 2000px;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #5c676b, #f0f8ff);
  padding: 0 1rem;
}

header {
  transition: 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  z-index: 1000;
}
nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 30px;
  font-size: 18px;
  font-family: Arial, sans-serif;
}

header.scrolled {
  background: rgba(0, 0, 0, 0.557);
  /* o efeito de desfoque */
  backdrop-filter: blur(6px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-bottom: #5b5be7 4px solid;
}
.degrade-aled {
  background: linear-gradient(90deg, #ff6b6b, #f7d154, #4cd3c2, #5b5be7);
  background-size: 250%;
  font-weight: 900;
  font-size: 2.2rem;
  /* O texto vira “máscara” para o degradê */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  /* Brilho sutil */
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.15);

  /* Animação suave do degradê */
  animation: gradientMove 9s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0%;
  }
  25% {
    background-position: 50%;
  }
  50% {
    background-position: 100%;
  }
  75% {
    background-position: 50%;
  }
  100% {
    background-position: 0%;
  }
}
.teste {
  margin-top: 150px;
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
  color: transparent;
  background-clip: text;
  background-color: #4cd3c2;
  border: 1px solid #fff;
}
.icon-btn{
  display: none;
}

@media (max-width: 768px) {
  .icon-btn {
    display: flex;
    position: fixed;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 32px;
    color: white;
    z-index: 2000;
    top: 0;
    right: 0;
  }
  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    height: 100vh;
    background-color: #5b5be7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 80px 20px;
    /* Estado inicial: escondido para a esquerda */
    transform: translateX(-100%);

    /* Transição suave */
    transition: transform 0.8s ease; /* ← mais lento aqui */
  }

  nav.active {
    transform: translateX(0); /* aparece */
  }
  nav a {
    margin-left: 15px;
    font-size: 16px;
  }
}
